/*.center {
  margin: 0 auto;
  width: 400px;
}

.container {
  border-radius: 5px;
  /* background-color: #e5e2e27c; */
 /* padding: 20px;
  /* width: 100%; */
/*}
.lbl {
  text-align: right;
  display: block;
  padding: 0.5em 1.5em 0.5em 0;
}
.row {
  padding-top: 10px;
}
.col-5 {
  /* float: left; */
 /*width: 5%;
  margin-top: 6px;
}

.txtbox {
  width: 356px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  height: 9px;
}
.alinea-btn{
  /* margin-left: 5%; */
 /* margin-left: 0;*/
/*}
.btn {
  width: 28%;
  padding: 12px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background-color: rgb(0, 132, 255);
  color: white;
  width: 50px;
  height: 33px;
  padding-top: 10px;
}*/
      

.container {
  width: 400px;
  margin: 0px auto;
}

/* container[_ngcontent-wry-c16] */

.container .form {
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 22, 41);
  padding: 10px;
  width: 320px;
}

.container .form .containerLI {
  padding: 5px 0px;
}

.container .form .containerLI label {
  width: 250px;
  font-size: 16px;
}

.container .form .containerLI input {
  width: 450px;
  border-radius: 5px;
  margin-top: 5px;
  height: 25px;
}

.terminos {
  font-size: 15px;
}

button:disabled {
  background-color: #68b3f1;
}

button {
  padding: 5px 30px;
  background-color: #2196F3;
  color: white;
  border-radius: 5px;
  border: #2196F3;
}

.btn {
  width: 20%;
  height: 40px;
  padding: 12px;
  cursor: pointer;
}

.is-invalid {
  border: 1px solid #ff0000a6;
}

.text-danger {
  display: block;
  margin-left: 5%;
  padding-top: 2px;
  color: #ff0000a6;
}
