<div class="container">
  <form class="form" (ngSubmit)="guardar()" #forma="ngForm">
    <div class="containerLI">
      <label for="name">Nombre</label>
      <input
        type="text"
        id="name"
        placeholder="Nombre"
        name="nombre" 
        #nombre="ngModel"
        [(ngModel)]="persona.nombre"
        required
        minlength="4"
        pattern="^[a-zA-zñÑ\s]+$"
        [class.is-invalid]="nombre.invalid && nombre.touched"
      >
      <small class="text-danger" *ngIf="nombre.invalid && nombre.touched">
        Ingrese mas de 3 letras
      </small>
    </div>
    <br>

    <div class="containerLI">
      <label for="direccion">Direccion</label>
      <input 
        type="text"
        id="direccion" 
        placeholder="Direccion" 
        name="direccion"
        #direccion="ngModel"
        [(ngModel)]="persona.direccion"
        required
        minlength="4"
        pattern="^[a-zA-zñÑ\s]+$"
        [class.is-invalid]="direccion.invalid && direccion.touched"
      >
      <small class="text-danger" *ngIf="direccion.invalid && direccion.touched">
        Ingrese mas de 3 letras 
      </small>
    </div>
    <br>

    <div>
      <input 
        type="checkbox"
        id="condiciones"
        name="terminos"
        ngModel
        value= {{true}}
        required
        #terminos="ngModel"
        [(ngModel)]="persona.terminos"
      >
      <label class="terminos" for="condiciones">Acepta los terminos y condiciones</label>
    </div>
    <br>

    <div class="containerLI">
      <button type="submit" class="btn" [disabled]="!forma.valid">Ir</button>
    </div>
  </form>
</div>
